<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Leh Ladakh Bike Trip Packages | Starts @ ₹19,900 - Whole Ladakh Adventure</title>
	<atom:link href="https://wholeladakhadventure.com/tour-category/motorcycle-tours/feed/" rel="self" type="application/rss+xml" />
	<link>https://wholeladakhadventure.com/tour-category/motorcycle-tours/</link>
	<description>High Terrian Rider</description>
	<lastBuildDate>Fri, 05 May 2023 12:26:56 +0000</lastBuildDate>
	<language>en-GB</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>

<image>
	<url>https:/wp-content/uploads/2021/11/cropped-Whole-Ladakh-Expedition-Site-Icon-1-32x32.png</url>
	<title>Leh Ladakh Bike Trip Packages | Starts @ ₹19,900 - Whole Ladakh Adventure</title>
	<link>https://wholeladakhadventure.com/tour-category/motorcycle-tours/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Leh Bike Trip</title>
		<link>https://wholeladakhadventure.com/tour/leh-bike-trip/</link>
		
		<dc:creator><![CDATA[geeleh]]></dc:creator>
		<pubDate>Sat, 04 Feb 2023 14:32:04 +0000</pubDate>
				<guid isPermaLink="false">https://wholeladakhadventure.com/?post_type=tour&#038;p=8267</guid>

					<description><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/leh-bike-trip/">Leh Bike Trip</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/leh-bike-trip/">Leh Bike Trip</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Leh to Leh with Umling La Bike Trip</title>
		<link>https://wholeladakhadventure.com/tour/nubra-pangong-umling-la-bike/</link>
		
		<dc:creator><![CDATA[geeleh]]></dc:creator>
		<pubDate>Fri, 03 Feb 2023 07:35:30 +0000</pubDate>
				<guid isPermaLink="false">https://wholeladakhadventure.com/?post_type=tour&#038;p=8215</guid>

					<description><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/nubra-pangong-umling-la-bike/">Leh to Leh with Umling La Bike Trip</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/nubra-pangong-umling-la-bike/">Leh to Leh with Umling La Bike Trip</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Srinagar Leh Manali Delhi Bike Trip</title>
		<link>https://wholeladakhadventure.com/tour/srinagar-leh-manali-delhi-bike-trip/</link>
		
		<dc:creator><![CDATA[geeleh]]></dc:creator>
		<pubDate>Sat, 15 Jan 2022 10:11:31 +0000</pubDate>
				<guid isPermaLink="false">https://wholeladakhadventure.com/?post_type=tour&#038;p=7095</guid>

					<description><![CDATA[<p>Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. </p>
<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/srinagar-leh-manali-delhi-bike-trip/">Srinagar Leh Manali Delhi Bike Trip</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/srinagar-leh-manali-delhi-bike-trip/">Srinagar Leh Manali Delhi Bike Trip</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Delhi Manali Leh Srinagar Bike Trip</title>
		<link>https://wholeladakhadventure.com/tour/delhi-manali-ladakh-srinagar-bike-trip/</link>
		
		<dc:creator><![CDATA[geeleh]]></dc:creator>
		<pubDate>Sat, 15 Jan 2022 04:13:22 +0000</pubDate>
				<guid isPermaLink="false">https://wholeladakhadventure.com/?post_type=tour&#038;p=7090</guid>

					<description><![CDATA[<p>4n5d<br />
kjjkls</p>
<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/delhi-manali-ladakh-srinagar-bike-trip/">Delhi Manali Leh Srinagar Bike Trip</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/delhi-manali-ladakh-srinagar-bike-trip/">Delhi Manali Leh Srinagar Bike Trip</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Ladakh Bike Trip 2023</title>
		<link>https://wholeladakhadventure.com/tour/leh-nubra-pangong-turtuk-bike-trip-2022/</link>
		
		<dc:creator><![CDATA[geeleh]]></dc:creator>
		<pubDate>Fri, 14 Jan 2022 15:25:14 +0000</pubDate>
				<guid isPermaLink="false">https://wholeladakhadventure.com/?post_type=tour&#038;p=7065</guid>

					<description><![CDATA[<p>Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. </p>
<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/leh-nubra-pangong-turtuk-bike-trip-2022/">Ladakh Bike Trip 2023</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/leh-nubra-pangong-turtuk-bike-trip-2022/">Ladakh Bike Trip 2023</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Zanskar Bike Trip via Shinkula Pass</title>
		<link>https://wholeladakhadventure.com/tour/zanskar-bike-trip-via-shinkula-pass/</link>
		
		<dc:creator><![CDATA[geeleh]]></dc:creator>
		<pubDate>Tue, 23 Nov 2021 13:54:28 +0000</pubDate>
				<guid isPermaLink="false">https://wholeladakhadventure.com/?post_type=tour&#038;p=5840</guid>

					<description><![CDATA[<p>Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. </p>
<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/zanskar-bike-trip-via-shinkula-pass/">Zanskar Bike Trip via Shinkula Pass</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/zanskar-bike-trip-via-shinkula-pass/">Zanskar Bike Trip via Shinkula Pass</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>White Spiti Bike Trip</title>
		<link>https://wholeladakhadventure.com/tour/white-spiti-bike-trip/</link>
		
		<dc:creator><![CDATA[geeleh]]></dc:creator>
		<pubDate>Mon, 22 Nov 2021 06:02:16 +0000</pubDate>
				<guid isPermaLink="false">https://wholeladakhadventure.com/?post_type=tour&#038;p=5825</guid>

					<description><![CDATA[<p>Professional Road Captain + Royal Enfield Mechanic + Breakfast and Dinner + Daily bike check up</p>
<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/white-spiti-bike-trip/">White Spiti Bike Trip</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/white-spiti-bike-trip/">White Spiti Bike Trip</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Delhi Manali Ladakh Srinagar Bike Trip</title>
		<link>https://wholeladakhadventure.com/tour/manali-leh-srinagar-bike-trip/</link>
		
		<dc:creator><![CDATA[geeleh]]></dc:creator>
		<pubDate>Sun, 21 Nov 2021 08:31:16 +0000</pubDate>
				<guid isPermaLink="false">https://wholeladakhadventure.com/?post_type=tour&#038;p=5799</guid>

					<description><![CDATA[<p>Manali - Turtuk - Pangong Tso - Tsomoriri - Leh - Kargil - Sonamarg - Srinagar 12 Days. </p>
<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/manali-leh-srinagar-bike-trip/">Delhi Manali Ladakh Srinagar Bike Trip</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/manali-leh-srinagar-bike-trip/">Delhi Manali Ladakh Srinagar Bike Trip</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Srinagar Ladakh Manali Delhi Bike Trip</title>
		<link>https://wholeladakhadventure.com/tour/srinagar-leh-manali-bike-trip/</link>
		
		<dc:creator><![CDATA[geeleh]]></dc:creator>
		<pubDate>Sun, 21 Nov 2021 08:10:06 +0000</pubDate>
				<guid isPermaLink="false">https://wholeladakhadventure.com/?post_type=tour&#038;p=5795</guid>

					<description><![CDATA[<p>Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. </p>
<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/srinagar-leh-manali-bike-trip/">Srinagar Ladakh Manali Delhi Bike Trip</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/srinagar-leh-manali-bike-trip/">Srinagar Ladakh Manali Delhi Bike Trip</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Leh to Leh Bike Trip</title>
		<link>https://wholeladakhadventure.com/tour/leh-to-leh-bike-trip/</link>
		
		<dc:creator><![CDATA[geeleh]]></dc:creator>
		<pubDate>Wed, 11 Jan 2017 18:45:53 +0000</pubDate>
				<guid isPermaLink="false">http://demo.goodlayers.com/traveltour/?post_type=tour&#038;p=4649</guid>

					<description><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/leh-to-leh-bike-trip/">Leh to Leh Bike Trip</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/leh-to-leh-bike-trip/">Leh to Leh Bike Trip</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></content:encoded>
					
		
		
			</item>
	</channel>
</rss>
