<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Spiti Valley - Whole Ladakh Adventure</title>
	<atom:link href="https://wholeladakhadventure.com/tour-destination/spiti-valley/feed/" rel="self" type="application/rss+xml" />
	<link>https://wholeladakhadventure.com/tour-destination/spiti-valley/</link>
	<description>High Terrian Rider</description>
	<lastBuildDate>Thu, 06 Apr 2023 14:29:40 +0000</lastBuildDate>
	<language>en-GB</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>

<image>
	<url>https:/wp-content/uploads/2021/11/cropped-Whole-Ladakh-Expedition-Site-Icon-1-32x32.png</url>
	<title>Spiti Valley - Whole Ladakh Adventure</title>
	<link>https://wholeladakhadventure.com/tour-destination/spiti-valley/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Reckless Spiti Expedition by Yak Skull</title>
		<link>https://wholeladakhadventure.com/tour/reckless-spiti-expedition-by-yak-skull/</link>
		
		<dc:creator><![CDATA[geeleh]]></dc:creator>
		<pubDate>Tue, 13 Sep 2022 18:04:27 +0000</pubDate>
				<guid isPermaLink="false">https://wholeladakhadventure.com/?post_type=tour&#038;p=7463</guid>

					<description><![CDATA[<p>Join us for the thrilling experience in the White Spiti Valley</p>
<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/reckless-spiti-expedition-by-yak-skull/">Reckless Spiti Expedition by Yak Skull</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/reckless-spiti-expedition-by-yak-skull/">Reckless Spiti Expedition by Yak Skull</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>White Spiti Bike Trip</title>
		<link>https://wholeladakhadventure.com/tour/white-spiti-bike-trip/</link>
		
		<dc:creator><![CDATA[geeleh]]></dc:creator>
		<pubDate>Mon, 22 Nov 2021 06:02:16 +0000</pubDate>
				<guid isPermaLink="false">https://wholeladakhadventure.com/?post_type=tour&#038;p=5825</guid>

					<description><![CDATA[<p>Professional Road Captain + Royal Enfield Mechanic + Breakfast and Dinner + Daily bike check up</p>
<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/white-spiti-bike-trip/">White Spiti Bike Trip</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/white-spiti-bike-trip/">White Spiti Bike Trip</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></content:encoded>
					
		
		
			</item>
	</channel>
</rss>
