<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Trekking &amp; Expeditions Archives - Whole Ladakh Adventure</title>
	<atom:link href="https://wholeladakhadventure.com/tour-category/trekking-expeditions/feed/" rel="self" type="application/rss+xml" />
	<link>https://wholeladakhadventure.com/tour-category/trekking-expeditions/</link>
	<description>High Terrian Rider</description>
	<lastBuildDate>Thu, 03 Aug 2023 11:59:34 +0000</lastBuildDate>
	<language>en-GB</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>

<image>
	<url>https:/wp-content/uploads/2021/11/cropped-Whole-Ladakh-Expedition-Site-Icon-1-32x32.png</url>
	<title>Trekking &amp; Expeditions Archives - Whole Ladakh Adventure</title>
	<link>https://wholeladakhadventure.com/tour-category/trekking-expeditions/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Kang Yatse Expedition II – 6250m</title>
		<link>https://wholeladakhadventure.com/tour/kang-yatse-expedition-ii-6250m/</link>
		
		<dc:creator><![CDATA[geeleh]]></dc:creator>
		<pubDate>Fri, 14 Jan 2022 14:44:08 +0000</pubDate>
				<guid isPermaLink="false">https://wholeladakhadventure.com/?post_type=tour&#038;p=7059</guid>

					<description><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/kang-yatse-expedition-ii-6250m/">Kang Yatse Expedition II – 6250m</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/kang-yatse-expedition-ii-6250m/">Kang Yatse Expedition II – 6250m</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>UT Ladakh Kangri Expedition 6070m</title>
		<link>https://wholeladakhadventure.com/tour/ut-ladakh-kangri-expedition-6070m/</link>
		
		<dc:creator><![CDATA[geeleh]]></dc:creator>
		<pubDate>Fri, 14 Jan 2022 14:32:23 +0000</pubDate>
				<guid isPermaLink="false">https://wholeladakhadventure.com/?post_type=tour&#038;p=7050</guid>

					<description><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/ut-ladakh-kangri-expedition-6070m/">UT Ladakh Kangri Expedition 6070m</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/ut-ladakh-kangri-expedition-6070m/">UT Ladakh Kangri Expedition 6070m</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Mt. Stok Kangri Expedition 6123m</title>
		<link>https://wholeladakhadventure.com/tour/mt-stok-kangri-expedition-6123m/</link>
		
		<dc:creator><![CDATA[geeleh]]></dc:creator>
		<pubDate>Wed, 12 Jan 2022 12:14:56 +0000</pubDate>
				<guid isPermaLink="false">https://wholeladakhadventure.com/?post_type=tour&#038;p=7029</guid>

					<description><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/mt-stok-kangri-expedition-6123m/">Mt. Stok Kangri Expedition 6123m</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/mt-stok-kangri-expedition-6123m/">Mt. Stok Kangri Expedition 6123m</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Chadar Trek 2024</title>
		<link>https://wholeladakhadventure.com/tour/chadar-trek/</link>
		
		<dc:creator><![CDATA[geeleh]]></dc:creator>
		<pubDate>Wed, 11 Jan 2017 12:33:42 +0000</pubDate>
				<guid isPermaLink="false">http://demo.goodlayers.com/traveltour/?post_type=tour&#038;p=4646</guid>

					<description><![CDATA[<p>Trekking + Centrally Heated Room + Breakfast and Dinner in Leh   </p>
<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/chadar-trek/">Chadar Trek 2024</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/chadar-trek/">Chadar Trek 2024</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></content:encoded>
					
		
		
			</item>
	</channel>
</rss>
