<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Ladakh - Whole Ladakh Adventure</title>
	<atom:link href="https://wholeladakhadventure.com/tour-destination/ladakh/feed/" rel="self" type="application/rss+xml" />
	<link>https://wholeladakhadventure.com/tour-destination/ladakh/</link>
	<description>High Terrian Rider</description>
	<lastBuildDate>Mon, 26 Jun 2023 12:21:43 +0000</lastBuildDate>
	<language>en-GB</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>

<image>
	<url>https:/wp-content/uploads/2021/11/cropped-Whole-Ladakh-Expedition-Site-Icon-1-32x32.png</url>
	<title>Ladakh - Whole Ladakh Adventure</title>
	<link>https://wholeladakhadventure.com/tour-destination/ladakh/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Leh Bike Trip</title>
		<link>https://wholeladakhadventure.com/tour/leh-bike-trip/</link>
		
		<dc:creator><![CDATA[geeleh]]></dc:creator>
		<pubDate>Sat, 04 Feb 2023 14:32:04 +0000</pubDate>
				<guid isPermaLink="false">https://wholeladakhadventure.com/?post_type=tour&#038;p=8267</guid>

					<description><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/leh-bike-trip/">Leh Bike Trip</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/leh-bike-trip/">Leh Bike Trip</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Leh to Leh with Umling La Bike Trip</title>
		<link>https://wholeladakhadventure.com/tour/nubra-pangong-umling-la-bike/</link>
		
		<dc:creator><![CDATA[geeleh]]></dc:creator>
		<pubDate>Fri, 03 Feb 2023 07:35:30 +0000</pubDate>
				<guid isPermaLink="false">https://wholeladakhadventure.com/?post_type=tour&#038;p=8215</guid>

					<description><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/nubra-pangong-umling-la-bike/">Leh to Leh with Umling La Bike Trip</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/nubra-pangong-umling-la-bike/">Leh to Leh with Umling La Bike Trip</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Delhi Manali Leh road Trip</title>
		<link>https://wholeladakhadventure.com/tour/manali-to-leh-road-trip/</link>
		
		<dc:creator><![CDATA[geeleh]]></dc:creator>
		<pubDate>Sat, 21 Jan 2023 11:38:07 +0000</pubDate>
				<guid isPermaLink="false">https://wholeladakhadventure.com/?post_type=tour&#038;p=8123</guid>

					<description><![CDATA[<p>Transportation + Accommodation + Breakfast and Dinner + Inner Line Permit</p>
<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/manali-to-leh-road-trip/">Delhi Manali Leh road Trip</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/manali-to-leh-road-trip/">Delhi Manali Leh road Trip</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Srinagar to Leh road Trip</title>
		<link>https://wholeladakhadventure.com/tour/srinagar-leh-road-trip/</link>
		
		<dc:creator><![CDATA[geeleh]]></dc:creator>
		<pubDate>Fri, 06 Jan 2023 15:20:40 +0000</pubDate>
				<guid isPermaLink="false">https://wholeladakhadventure.com/?post_type=tour&#038;p=7950</guid>

					<description><![CDATA[<p>• Explore Frozen Pangong • Centrally Heated Rooms • Heater in Car </p>
<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/srinagar-leh-road-trip/">Srinagar to Leh road Trip</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/srinagar-leh-road-trip/">Srinagar to Leh road Trip</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Srinagar Leh Manali Delhi Bike Trip</title>
		<link>https://wholeladakhadventure.com/tour/srinagar-leh-manali-delhi-bike-trip/</link>
		
		<dc:creator><![CDATA[geeleh]]></dc:creator>
		<pubDate>Sat, 15 Jan 2022 10:11:31 +0000</pubDate>
				<guid isPermaLink="false">https://wholeladakhadventure.com/?post_type=tour&#038;p=7095</guid>

					<description><![CDATA[<p>Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. </p>
<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/srinagar-leh-manali-delhi-bike-trip/">Srinagar Leh Manali Delhi Bike Trip</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/srinagar-leh-manali-delhi-bike-trip/">Srinagar Leh Manali Delhi Bike Trip</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Delhi Manali Leh Srinagar Bike Trip</title>
		<link>https://wholeladakhadventure.com/tour/delhi-manali-ladakh-srinagar-bike-trip/</link>
		
		<dc:creator><![CDATA[geeleh]]></dc:creator>
		<pubDate>Sat, 15 Jan 2022 04:13:22 +0000</pubDate>
				<guid isPermaLink="false">https://wholeladakhadventure.com/?post_type=tour&#038;p=7090</guid>

					<description><![CDATA[<p>4n5d<br />
kjjkls</p>
<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/delhi-manali-ladakh-srinagar-bike-trip/">Delhi Manali Leh Srinagar Bike Trip</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/delhi-manali-ladakh-srinagar-bike-trip/">Delhi Manali Leh Srinagar Bike Trip</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Ladakh Bike Trip 2023</title>
		<link>https://wholeladakhadventure.com/tour/leh-nubra-pangong-turtuk-bike-trip-2022/</link>
		
		<dc:creator><![CDATA[geeleh]]></dc:creator>
		<pubDate>Fri, 14 Jan 2022 15:25:14 +0000</pubDate>
				<guid isPermaLink="false">https://wholeladakhadventure.com/?post_type=tour&#038;p=7065</guid>

					<description><![CDATA[<p>Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. </p>
<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/leh-nubra-pangong-turtuk-bike-trip-2022/">Ladakh Bike Trip 2023</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/leh-nubra-pangong-turtuk-bike-trip-2022/">Ladakh Bike Trip 2023</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Kang Yatse Expedition II – 6250m</title>
		<link>https://wholeladakhadventure.com/tour/kang-yatse-expedition-ii-6250m/</link>
		
		<dc:creator><![CDATA[geeleh]]></dc:creator>
		<pubDate>Fri, 14 Jan 2022 14:44:08 +0000</pubDate>
				<guid isPermaLink="false">https://wholeladakhadventure.com/?post_type=tour&#038;p=7059</guid>

					<description><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/kang-yatse-expedition-ii-6250m/">Kang Yatse Expedition II – 6250m</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/kang-yatse-expedition-ii-6250m/">Kang Yatse Expedition II – 6250m</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>UT Ladakh Kangri Expedition 6070m</title>
		<link>https://wholeladakhadventure.com/tour/ut-ladakh-kangri-expedition-6070m/</link>
		
		<dc:creator><![CDATA[geeleh]]></dc:creator>
		<pubDate>Fri, 14 Jan 2022 14:32:23 +0000</pubDate>
				<guid isPermaLink="false">https://wholeladakhadventure.com/?post_type=tour&#038;p=7050</guid>

					<description><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/ut-ladakh-kangri-expedition-6070m/">UT Ladakh Kangri Expedition 6070m</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/ut-ladakh-kangri-expedition-6070m/">UT Ladakh Kangri Expedition 6070m</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Mt. Stok Kangri Expedition 6123m</title>
		<link>https://wholeladakhadventure.com/tour/mt-stok-kangri-expedition-6123m/</link>
		
		<dc:creator><![CDATA[geeleh]]></dc:creator>
		<pubDate>Wed, 12 Jan 2022 12:14:56 +0000</pubDate>
				<guid isPermaLink="false">https://wholeladakhadventure.com/?post_type=tour&#038;p=7029</guid>

					<description><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/mt-stok-kangri-expedition-6123m/">Mt. Stok Kangri Expedition 6123m</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="https://wholeladakhadventure.com/tour/mt-stok-kangri-expedition-6123m/">Mt. Stok Kangri Expedition 6123m</a> appeared first on <a rel="nofollow" href="https://wholeladakhadventure.com">Whole Ladakh Adventure</a>.</p>
]]></content:encoded>
					
		
		
			</item>
	</channel>
</rss>
